.title {
  border: 2px solid #3cc;
  background-color: #99f;
  text-align: center;
  position: fixed;
  position: -webkit-sticky;
  width: 100%;
}

.img {
  margin-top: 2000px;
  margin-left: 300px;
}

.left {
  float: left;
  border: 2px solid #0dc9c0;
  margin-top: 150px;
  width: 200px;
  text-align: center;
  font-size: 20px;
}

.right {
  float: right;
  border: 2px solid #ff01b0;
  margin-top: 150px;
  width: 200px;
  text-align: center;
  font-size: 20px;
}
